*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.bg {
  background-image: url("/static/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
}

.container{
  width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
}
.box{
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  font-size: 20px;
  margin: 10px;
}

.message-box{
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.message-box i{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.message-box textarea{
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 20px;
}
.message-box textarea::placeholder{
  color: #bbb;
  font-weight: 500;
}

.button{
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}
.button button{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.message{
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.message .success{
  font-size: 15px;
  color: black;
  position: absolute;
  animation: buttons .3s linear;
}

table {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  border-radius: 20px;
  width: 400px;
  height: 500px;
}

tr {
  transition: all .2s ease-in;
  cursor: pointer;
}

th, td{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#header {
  background-color: #16a085;
  color: #fff;
}

tr:hover{
  background-color: #f5f5f5;
  transform: scale(1.02);
}