<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Predict Legal Paragraphs</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheet.css') }}"
    />
    <link rel="shortcut icon" href="#" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="bg">
      <div class="container">
        <div class="box">
          <h3>Enter Paragraph</h3>
          <div class="message-box">
            <textarea
              id="msg"
              cols="30"
              rows="10"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="button">
            <button id="send">Send</button>
          </div>
          <div class="message">
            <div class="success" id="category">Category:</div>
          </div>
          <div class="message">
            <div class="success" id="probability">Probability:</div>
            <div>
              <table>
                <tr id="header">
                  <th>Category</th>
                  <th>Probability of Outcome</th>
                </tr>
                <tr>
                  <td>Amendments</td>
                  <td id="amendments"></td>
                </tr>
                <tr>
                  <td>Counterparts</td>
                  <td id="counterparts"></td>
                </tr>
                <tr>
                  <td>Governing Laws</td>
                  <td id="laws"></td>
                </tr>
                <tr>
                  <td>Government Regulations</td>
                  <td id="reg"></td>
                </tr>
                <tr>
                  <td>Terminations</td>
                  <td id="terminations"></td>
                </tr>

                <tr>
                  <td>Trade Relations</td>
                  <td id="trade_relations"></td>
                </tr>
                <tr>
                  <td>Trading Activities</td>
                  <td id="trading_activities"></td>
                </tr>
                <tr>
                  <td>Valid Issuances</td>
                  <td id="valid_issuances"></td>
                </tr>
                <tr>
                  <td>Waivers</td>
                  <td id="waivers"></td>
                </tr>
                <tr>
                  <td>Warranties</td>
                  <td id="warranties"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
